.footer {
  display: flex;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  padding-top: 5rem;
}

.footer__About {
  width: 50%;
  color: white;
}
.footer__About--Title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.Map {
  width: 50%;
  height: 30rem;
}

@media (max-width: 550px) {
  .footer {
    flex-direction: column;
  }
  .footer__About {
    width: 90%;
  }
  .Map {
    width: 90%;
    margin-top: 4rem;
  }
}
